*,html {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: Arial, Helvetica, sans-serif;
}

body {
    height: 100vh;
}

a {
    text-decoration: none;
    color: black;
}

a:hover {
    text-decoration: underline;
}

ul {
    list-style: none;
}

ul li {
    display: inline-block;
    padding: 0.5rem 0.5rem 0 0.5rem;
}

li a {
    color: black;
    text-decoration: none;
    font-size: 14px;
}

li a:hover {
    text-decoration: underline;
}

/* Navigation */
.list-items {
    background: #FAFAFA;
    height: 128px;
    border-bottom: 1px solid #d2d1d1
}

/* Google-apps-sections */
#google-apps {
    float: right;
    margin-right: 20px;
}

/* Links Section */
#links-section {
    float: left;
    padding-left: 170px;
}

#links-section li a {
    margin-right: 10px;
    padding-bottom: 10px;
    color: grey;
}

#links-section li a:hover {
    text-decoration: none;
    color: black;
}


/* Navigation */
nav {
    width: 100%;
}

nav img {
    width: 140px;
    float: left;
    margin: 20px 10px;
}

i {
    margin-top: 0.5rem;
    color: grey;
}

.user {
    background-image: url(https://lh3.googleusercontent.com/-0sH3EMyHLHo/AAAAAAAAAAI/AAAAAAAAAAA/APUIFaMX60NZ_A4pENEkjaKUvIuu7JgXGw/s32-c-mo/photo.jpg)
}

.user-circle {
    background-size: 32px 32px;
    -moz-border-radius: 50%;
    border-radius: 50%;
    display: block;
    margin: -1px;
    overflow: hidden;
    position: relative;
    height: 32px;
    width: 32px;
    z-index: 0;
}

/* Search Input */
input[type=text] {
    width: 600px;
    display: inline-block;
    background-color: white;
    height: 45px;
    border: 1px solid rgb(214, 214, 214);
    padding: 10px;
    margin: 25px 10px 20px 10px;
    margin-left: 20px;
    box-shadow: 0 1px 3px rgba(0, 0, 0, 0), 0 1px 2px rgba(0, 0, 0, 0.2);
    transition: all 0.3s cubic-bezier(.25,.8,.25,1);
}

input[type=text]:hover {
    box-shadow: 0 3px 6px rgba(0, 0, 0, 0.068), 0 3px 6px rgba(0,0,0,0.23);
}

/* Search Section */
#search-section {
    margin-left: 170px;
    width: 600px;
    margin-bottom: 25px; 
}

.search-content {
   margin: 0px 0px 25px 10px;
}

.google-index {
    width: 320px;
    margin: 0 auto;
}

.google-index p {
    padding-left: 44px;
}

.google-index span {
    color: #4285f4;
    padding-left: 20px;
}

.google-index span:hover {
    cursor: pointer;
    text-decoration: underline;
}

.google-index p a {
    letter-spacing: 9px;
    font-size: small;
    color: #4285f4;
}


/* Footer */
footer {
    /* position: fixed; */
    width: 100%;
    bottom: 0;
    background: #F2F2F2;
    border-top: 0.5px solid rgb(221, 221, 221);
}

.foot-gray:nth-child(even) {
    border-top: 0.5px solid rgb(221, 221, 221);
}

.foot-gray {
    padding: 10px 10px 10px 30px;
    background-color: #F2F2F2;
}

.foot-inner {
    width: 80%;
    margin: 0 auto;
}

.foot-gray p {
    color: rgba(0,0,0,.54);
    font-size: 14px;
    display: inline-block;
}

.foot-gray a {
    color: rgba(0,0,0,.54);
    font-size: 14px;
    padding-right: 16px;
}

.foot-gray a:hover {
    color: rgba(0, 0, 0, 0.767);
    text-decoration: none;
}

/* Custom CSS */
.active {
    color: #1A73E8 !important;
    font-weight: bold;
}

.search-link {
    color: #1a0dab;
    font-weight: normal;
    padding-bottom: 6px;
}

.search-link:hover {
    text-decoration: underline;
    cursor: pointer;
}

.link-url {
    color: #006621;
    font-size: 14px;
}

.mb-5 {
    margin-bottom: 2rem;
}

.align-text {
    text-align: center;
}

.small-font {
    font-size: small;
    color: #545454;

}

.center {
    margin: 0 auto;
} 

.col-6 {
    width: 50%;
}

.left {
    float: left;
    text-align: left;
}

.clear-spacing {
    letter-spacing: 0px !important;
}

.right {
    float: right;
    text-align: right
}

#section {
    clear: both;
}

/* Media Queries */
@media (max-width: 1020px) {

    #google-apps {
        display: none;
    }
}

@media (max-width: 801px) {
    .list-items {
        height: 250px;
    }

    .logo {
        padding: 20px 0 10px 0;
    }

    nav img {
        margin: 0 auto;
        float: none;
        width: 200px;
        display: block;
    }

    #links-section {
        float: none;
        text-align: center;
        padding: 20px;
    }

    #search-section {
        width: 80%;
        margin: 0px auto 25px auto;
    }

    .left {
        float: none;
    }

    input[type=text] {
        width: 300px;
        display: block;
        margin: 0 auto;
    }

    #links-section li:first-child a {
        border: none !important;
    }
}

@media (max-width: 400px) {

    #links-section li {
        padding: 5px;
    }
    
}